<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="org.lanqiao.bean.MyAllUser" alias="myAllUser"/>
	</typeAliases>
    <mappers>
    	<mapper resource="org/lanqiao/mapper/MyAllUserDaoMapper.xml"/>
    </mappers>
</configuration>